body{
    background-image: url(Imagens/Background.png);
    background-color: rgba(45,33,53,255);
    background-repeat: no-repeat;
    background: size: 2000px;
}
.pl1,.pl2,.pl3,.pl4,.pl5{
    padding-left: 200px;
}
.p1,.p2,.p3,.p4,.p5{
    padding-right: 100px;
    color: aliceblue;
    text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
     -1px 1px 0 black,
     1px 1px 0 black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
}
.box1,.box2,.box3,.box4,.box5{
    display: flex;
    align-items: center;
}
.b1{
    text-align: center;
    color:aliceblue;
    padding-left:875px;
}